.linear{
    color: aqua;
    text-align: center;
    font-size: 40px;
    height: 600px;
    border: 2px solid black;
    
    background: linear-gradient(to right,red,yellow,red);
}

.radial{
    color: aqua;
    text-align: center;
    font-size: 40px;
    height: 600px;
    border: 2px solid black;
    
    /* background: radial-gradient(ellipse at center,red,yellow,red); */
    background: radial-gradient(circle at center,violet,skyblue,violet,skyblue,violet,skyblue,violet);
}

.conic{
    color: aqua;
    text-align: center;
    font-size: 40px;
    height: 600px;
    border: 2px solid black;
    
    background: conic-gradient(from 90deg,violet,skyblue,violet,skyblue,violet,skyblue,violet);
}