.box{
    background-color: antiquewhite;
    height: 150px;
    width: 150px;
    margin: 20px;
    text-align: center;
}

.box1{ 
    position: static;
}

.box2{
    position: relative;
    top: 10px;
    left: 40px;
}

.box3{
    position: absolute;
    top: 10px;
    left: 300px;
}

.box4{
    position: sticky;
    top: 40px;
}

.box5{
    position: fixed;
    right: 20px;
    bottom: 40px;
}